body{
	border: 0px;
	margin: 0px auto;
	width: 100%;
	font-family: 'Roboto', sans-serif; 
	background: url('../img/otros/2ti4.jpg') no-repeat fixed center center;
	background-size: 100%;
}
.row{
	margin-right: 0% !important;
	margin-left: 0% !important;
}

header{
	width: 100%;
	height: 7%;
	background-color: white;
	padding-top: 0.6% ;
	position: fixed;
	z-index: 10;
}

#bienvenidos{
	width: 100%;
	height:90%;
}

.texto {
	display: inline-block;
	margin-top: 10%; 
	left: 0;
	z-index: 2;
	text-align: center;
}

/*1em=16px*/
.texto h1{
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: rgb(107,37,183);
	display: block;
	font-size: 3em;
}

.texto p{
	color: rgb(147,101,228);
	text-align: center;
	font-size: 2em;
	font-weight: 300;
	line-height: 1.5em;
}
span.destacar{
	font-weight: 400;
}

.presentacion{
	width: 100%;
	height: 95%;
	z-index: 1;
}

.colorblanco{
	background-color: white;
	width: 100%;
	height: auto;
	padding-bottom: 10%;
}
.contenedortodo{
	width: 90%;
	margin: 0% auto;
	padding-top: 2%;
	min-height: 700px;
}

.color{
	background-color: rgb(107,37,183);
	padding-top: 20px;
	min-height: 700px;
	padding-bottom: 10%;
}
h1{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	margin: 50px auto 100px ;

}
.contenedortodo h1{
	color: rgb(107,37,183);
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 10%;
	}

.color h1{
	margin: 0px 0px;
	width: 100%;
	height: 80px;
	color: white;
	text-transform: uppercase;

}

.contenedortodo h2{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: rgb(107,37,183);
	text-align: center;
	line-height: 1em;
	font-size: 2.5em;
	text-transform: uppercase;
}

.contenedortodo h4{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: rgb(107,37,183);
	text-align: center;
	line-height: 2em;
}

h2 span{
	font-weight:300;
	text-transform: none;
}
h3 span{
	font-weight: 100;
}

h3{
	font-family: 'Roboto', sans-serifcolor,!important;
	font-weight: 100;
	display:inline-block;
	margin: 50px auto 100px ;
	color: rgba(178,178,178)!important;
}
h3 span{
	font-weight: 700;
	color: rgba(178,178,178)!important;
}

h4 span{
	font-size: 30px;
}



/*Inicio imágenes de la home*/
.img-circle{
	width: 90%;
	margin:2% 5%;
	border-radius: 100%;
	webkit-border-radius: 100%;
	moz-border-radius: 100%;	
    border: 2px solid rgb(107,37,183);
	/*aquí comienza la uyilización de un filtro para las imágenes*/
	filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter:grayscale(100%);
	-ms-filter:grayscale(100%);
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%); 
	filter: gray; /* For IE 6 - 9 */
	 /* Fade to color for Chrome and Safari */
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
}
.img-circle:hover {
	filter: none;
  -webkit-filter: grayscale(0%);
  -webkit-transition: all 0.5s;
  -moz-transition: all .6s ease;
  -o-transition: all .6s ease; 
  -ms-transition: all .6s ease;
}

img.circulo{ 
	width: 200px;
	height: 200px;
	margin:50%;
	border-radius: 100%;
	webkit-border-radius: 100%;
	moz-border-radius: 100%;
	/*aquí comienza la uyilización de un filtro para las imágenes*/
	filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter:grayscale(100%);
	-ms-filter:grayscale(100%);
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%); 
	filter: gray; /* For IE 6 - 9 */
	 /* Fade to color for Chrome and Safari */
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
	
}

img.circulo:hover {
	filter: none;
  -webkit-filter: grayscale(0%);
  -webkit-transition: all 0.5s;
  -moz-transition: all .6s ease;
  -o-transition: all .6s ease; 
  -ms-transition: all .6s ease;
  border: 2px solid rgb(107,37,183);
}

/*imégenes cuadradas proyecto1*/
.imgcuadradas{
	width: 400px;
	height: 250px;
	background-image: url('../img/11proyectos/ed30.jpg');
	margin-bottom: 13px;
	border: 2px solid #ffffff;
}
.info{
	position: absolute;
	overflow: hidden;
	width: 395px;
	height: 245px;
	background-color: rgba(31,31,31,0.9);
	opacity: 0;
	transition:opacity 0.3s;
	-webkit-transition:opacity 0.3s;
	-ms-transition:opacity 0.3s;
	-o-transition:opacity 0.3s;
	-moz-transition:opacity 0.3s;
}
.imgcuadradas:hover .info{
	opacity: 1;
}
.sobretexto{
	position: absolute;
	font-size: 13px;
	color: white;
	margin-top: 230px;
	text-align: center;
	font-weight: 300;
	-webkit-transition:opacity 0.2s;
	-ms-transition:opacity 0.2s;
	-o-transition:opacity 0.2s;
	-moz-transition:opacity 0.2s;
}

.imgcuadradas:hover .sobretexto{
	margin-top:90px;
	padding: 25px;
	text-align: left;
}

.textooculto{
	overflow: hidden;
}
/*imégenes cuadradas proyecto2*/
.imgcuadradas-1{
	width: 400px;
	height: 250px;
	background-image: url('../img/11proyectos/logoseamosamigos.jpg');
	margin-bottom: 13px;
	border: 2px solid #ffffff;
}
.imgcuadradas-1:hover .info{
	opacity: 1;
}
.imgcuadradas-1:hover .sobretexto{
	margin-top:90px;
	padding: 25px;
	text-align: left;
}
/*imégenes cuadradas proyecto3*/
.imgcuadradas-2{
	width: 400px;
	height: 250px;
	background-image: url('../img/11proyectos/2ilustradoe.jpg');
	margin-bottom: 20px;
	border: 2px solid #ffffff;
}
.imgcuadradas-2:hover .info{
	opacity: 1;
}
.imgcuadradas-2:hover .sobretexto{
	margin-top:90px;
	padding: 25px;
	text-align: left;
}
/*imégenes cuadradas proyecto4*/
.imgcuadradas-3{
	width: 400px;
	height: 250px;
	background-image: url('../img/11proyectos/Beatrixpotter.jpg');
	margin-bottom: 20px;
	border: 2px solid #ffffff;
}
.imgcuadradas-3:hover .info{
	opacity: 1;
}
.imgcuadradas-3:hover .sobretexto{
	margin-top:90px;
	padding: 25px;
	text-align: left;
}
span.texto1{
	margin-top:80px;
	font-size: 1em;
	font-weight: 400;
	text-transform: uppercase;
}
/*Fin imágenes de la home*/


/*Texto bajo las imágenes de la home*/

p{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.15em;
	text-align: center;
}
div>a{
	color: rgb(107,37,183);
}

div>a:hover{
	color: rgb(163,116,239);
	text-decoration: none;
}
.blanco{
	color: white;
	font-size: 1em;
	text-align: center;
	list-style: none;
}


.blanco ul{
	list-style: none;
}

.blanco p ul li{
	text-align: center;
	font-weight: 100;
	list-style: none;
}
span.gr{
	font-weight: 100;
	font-size: 16px;
}

/*Texto bajo las imágenes de la home*/


@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-917wbx');
	src:url('../fonts/icomoon.eot?#iefix-917wbx') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-917wbx') format('woff'),
		url('../fonts/icomoon.ttf?-917wbx') format('truetype'),
		url('../fonts/icomoon.svg?-917wbx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	color: rgb(147,101,228);
	font-size: 30px;
	display: inline-block;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-smoothing: antialiased;
}

.icon-menu:before {
	content: "\e604";
	font-family: 'icomoon';
	letter-spacing: 5px;
}

.icon-menu:hover {
	color: rgb(203,183,218);
}

.icon-googleplus:before {
	content: "\e600";
	font-family: 'icomoon';
	letter-spacing: 5px;
}
.icon-googleplus:hover {
	color: rgb(203,183,218);
}
.icon-facebook:before {
	content: "\e601";
	font-family: 'icomoon';
	letter-spacing: 5px;
}
.icon-facebook:hover {
	color: rgb(203,183,218);
}
.icon-twitter:before {
	content: "\e602";
	font-family: 'icomoon';
	letter-spacing: 5px;
}
.icon-twitter:hover {
	color: rgb(203,183,218);
}
.icon-flickr:before {
	content: "\e603";
	font-family: 'icomoon';
	letter-spacing: 5px;
}
.icon-flickr:hover {
	color: rgb(203,183,218);
}
.icon-github:before {
	content: "\e605";
	font-family: 'icomoon';
	letter-spacing: 5px;
}
.icon-github:hover {
	color: rgb(203,183,218);
}

.icon-arrow-left:before {
	content: "\e602";
	font-family: 'icomoon';
	z-index: 4;
}
.icon-arrow-right:before {
	content: "\e606";
	font-family: 'icomoon';
	z-index: 4;
}




/*Inicio de Contacto*/

button.btn btn-default{
	border: solid 2px white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	text-align: center;

}
button.btn btn-default:hover{
	opacity: .85;
	cursor:pointer;
	box-shadow: inset 0 1px 0 0 gray;
}

.espaciocontacto{
	margin-top: 100px;
}
/*Fin de Contacto*/

footer{
	width: 100%;
	height: 10%;
	background-color: rgb(107,37,183);
	padding-top: 15px ;
}

footer p{
	color: white;
	font-weight: 300;
}

footer a{
	color: white;
}

footer a:hover{
	text-decoration: none;
	color:rgb(163,116,239); 
}


.primerafoto{
	margin: 5% auto;
}
.imagengaleria{
	margin: 6px 0px !important;
	border: 7px solid rgb(203,183,218);

}

.imagengaleria:hover{
	border: 7px solid rgb(107,37,183);
	transition:all 0.3s;
	-webkit-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-o-transition:all 0.5s;
	-moz-transition:all 0.5s;
}
.imagenfoto{
	margin-bottom: 20px;
	margin-top: 20px;
}

.textoamboslados p {
	text-align: justify;
	font-size: 1.1em;
}
blockquote{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color:gray;
}

.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:100px;
    right:30px;
    display:none;
    text-indent:-9999px;
    background: url('../img/otros/icon_top.png') no-repeat;
}

.seccion1{
margin-top: :200px;
margin-bottom: 100px;
}

.contenedortodo .espaciosingle{
	padding-top:50px !important ;
}


/* @media (max-width: 979px) {
	.img-circle{
		width: 40%;
		margin: 5% 27%;
	}
}
*/
@media (min-width:768px) and (max-width: 991px) { 
	.img-circle{
		width: 40%;
		margin: 5% 30%;
	}
	.row{
	margin-right: 0% !important;
	margin-left: 0% !important;
	}

		.imgcuadradas {
		margin: 3% auto;
	}
	.imgcuadradas-1{
		margin: 3% auto;
	}
	.imgcuadradas-2 {
		margin: 3% auto;
	}
	.imgcuadradas-3{
	margin: 3% auto;
	}
	/*imagen de las galerías*/
	.primerafoto{
	margin: 5% auto;
	}	

	/*imagen de las galerías*/
	
	.contenedortodo{
		padding-top:10%;
	}
	.textoamboslados p {
		font-size: 1.2em;
    }
}


@media (min-width:480px) and (max-width: 767px) { 
	body{
	background: url('../img/otros/2ti4sm.jpg') no-repeat fixed center center;
	background-size: 100%;
	}
	.row{
	margin-right: 0% !important;
	margin-left: 0% !important;
}
	header{
	height: 9%;
	}
	.img-circle{
		width: 45%;
		margin: 5% 30%;
	}
	/*1em=16px*/
	.texto h1{
		letter-spacing: 0.1em;
		font-size: 2.5em;
	}
	.texto p{
		font-size: 1.5em;
		line-height: 1.5em;
	}
	.imgcuadradas {
		margin: 3% auto;
	}
	.imgcuadradas-1{
		margin: 3% auto;
	}
	.imgcuadradas-2 {
		margin: 3% auto;
	}
	.imgcuadradas-3{
	margin: 3% auto;
	}
	footer{
		height: 30%;
	}
	/*imagen de las galerías*/
	.primerafoto{
		margin: 5% auto;
	}
	.margen{
		padding: 5%;
	}
	/*imagen de las galerías*/

	.contenedortodo{
		padding-top:10%;
	}
	.contenedortodo h2{
		line-height: 1em;
		font-size: 1.9em;
	}
	h3{
		display: block;
		margin: 10% 25%;
	}
	.textoamboslados{
		text-align: center;
	}
	.textoamboslados p {
		font-size: 1.1em;
    }

}

@media (min-width:320px) and (max-width: 479px) { 
	body{
	background: url('../img/otros/2ti4xs.jpg') no-repeat fixed center center;
	background-size: 100%;
	}
	.row{
	margin-right: 0% !important;
	margin-left: 0% !important;
}
	header{
	height: 10%;
	}
	.img-circle{
		width: 55%;
		margin: 5% 22%;
		filter:none;
	}

	.texto h1{
		letter-spacing: 0.1em;
		font-size: 2.5em;
	}
	.texto p{
		font-size: 1.1em;
		line-height: 1.5em;
	}
	
	.logo1{
		margin-top: 6%;
		width: 95px;
		height: 95px;
	}
	.imgcuadradas {
	width: 300px;
	height: 200px;
	margin: 5% auto;
	}
	.imgcuadradas-1{
	width: 300px;
	height: 200px;
	margin: 5% auto;
	}
	.imgcuadradas-2 {
	width: 300px;
	height: 200px;
	margin: 5% auto;
	}
	.imgcuadradas-3{
	width: 300px;
	height: 200px;
	margin: 5% auto;
	}

	
	.imgcuadradas:hover .info{
		opacity: 0;
	}
	.imgcuadradas-1:hover .info{
		opacity: 0;
	}
	.imgcuadradas-2:hover .info{
		opacity: 0;
	}
	.imgcuadradas-3:hover .info{
		opacity: 0;
	}
	.sobretexto{
		overflow: hidden;
	}
	
	.textooculto{
	overflow: visible;
	font-size: 1em;
	color: #fff;
	}

	footer{
		height: 30%;
	}

	.textoamboslados{
		text-align: center;
	}
	.textoamboslados p{
		font-size: 1.2em;
	}

	/*imagen de las galerías*/
	.primerafoto{
	margin: 5% auto;
	}
	.margen{
		margin: 15%;
	}
	/*imagen de las galerías*/

	.contenedortodo{
		padding-top: 20%;
	}
	.contenedortodo h2{
		line-height: 1em;
		font-size: 1.8em;
	}

	/*texto sobre galeria*/
	h3{
		display: block;
		margin: 10% 5%;
	}
	/*texto sobre galeria*/
}